localhost, 127.0.0.1, watering-app.duckdns.org {
    handle /api/* {
        reverse_proxy api:8000
    }
    handle /health* {
        reverse_proxy api:8000
    }
    handle /docs* {
        reverse_proxy api:8000
    }
    handle /openapi.json {
        reverse_proxy api:8000
    }
    
    handle {
        reverse_proxy frontend:80
    }
}